@font-face {
    font-family: samsung-sharp-bold;
    src: url('./font/SamsungSharpSans-Bold.otf');
}
@font-face {
    font-family: samsung-sharp-medium;
    src: url('./font/SamsungSharpSans-Medium.otf');
}
@font-face {
    font-family: samsung-sharp-regular;
    src: url('./font/SamsungSharpSans-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: rgb(30, 30, 34);
    color: white;
    display: flex;
    justify-content: center;
    font-family: samsung-sharp-regular;
}


.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel h1 {
    font-family: samsung-sharp-bold;
    margin-bottom: 5px;
}
.panel a {
    color: white;
}
.panel .developer {
    font-family: samsung-sharp-medium;
    margin-bottom: 10px;
}
.panel .version {
    font-size: smaller;
    margin-bottom: 50px;
    transition: 1s;
}
.panel .version:hover {
    cursor: pointer;
    opacity: 50%;
}
.panel .state {
    color: brown;

    font-family: samsung-sharp-regular;
    font-size: small;
    margin-bottom: 10px;
}
.panel button {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    outline:none;
    background-color: rgb(75, 75, 75);

    font-family: samsung-sharp-regular;
    font-size: small;
    padding: 7px 30px;
    border-radius: 9999px;

    transition: 0.5s;
}
.panel button:hover {
    
    background-color: rgb(59, 57, 57);
    cursor: pointer;
}

.loader {
    margin: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
    transition: 0.5s;
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 15px 0 #FFF2, -15px 0 #FFF;
    }
    50% {
        background-color: #FFF;
        box-shadow: 15px 0 #FFF2, -15px 0 #FFF2;
    }
    100% {
        background-color: #FFF2;
        box-shadow: 15px 0 #FFF, -15px 0 #FFF2;
    }
}
      